@import url('/static/css/common.css');

.song-details {
    max-width: 90%; /* Adjust max-width to fit smaller screens */
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background: white; /* Add white background to song details for better contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center;
}
.song-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    padding: 0 10px; /* Add padding to ensure the title is not cut off */
    box-sizing: border-box;
    word-wrap: break-word; /* Ensure long words break to the next line */
}
.song-lyrics {
    font-size: 1rem; /* Adjust font size for better readability on mobile */
    color: #666;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 60vh; /* Make sure lyrics container does not overflow the screen */
    padding: 10px;
    box-sizing: border-box;
}
.song-image {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
}
.youtube-player {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 20px 0;
}
@media (max-width: 600px) {
    .song-title {
        font-size: 1.5rem;
    }
    .song-lyrics {
        font-size: 0.9rem;
        max-height: 40vh;
    }
    .song-image {
        max-height: 300px;
    }
    .youtube-player {
        height: 200px;
    }
}